@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    min-width: 384px;
    min-height: 600px;
    font-family: Inter, sans-serif;
  }
  body {
    font-family: Inter, sans-serif;
    background: black;
  }
}
body.dark {
  background: black;
}
.dark .extensionView {
  background: #2b2d30;
}
.dark .fullscreenView {
  background: #2b2d30;
}
.extensionView {
  min-width: 420px;
  height: 100vh;
  max-width: 420px;
  margin: 0 auto;
}

.extensionViewMaxWidthContent {
  max-width: max-content;
}

.extensionWidth {
  width: 420px;
}
.fullscreenView {
  width: 420px;
  height: 100vh;
  margin: 0 auto;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
  }
  @-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
  }
  
  .spinnerLoader {
    width: 75px;
    height: 75px;
    margin: 0;
    background: transparent;
    border-top: 4px solid #28D79F;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #28D79F;
    border-right: 4px solid transparent;
    border-radius: 50%;
    -webkit-animation: 1.1s spin linear infinite;
    animation: 1.1s spin linear infinite;
  }

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}


.copy-icon-wrapper .active-icon {
    display: none;
  }
  .copy-icon-wrapper:hover .active-icon {
    display: inline-block;
  }
  .copy-icon-wrapper:hover .default-icon {
    display: none;
  }

  .approve-btn-primary {
    @apply py-4 px-5 relative bg-secondary-700 text-base text-textDark-900 leading-4 tracking-tight font-medium rounded-xl hover:bg-secondary-900 focus:outline-none disabled:opacity-50;
}

.approve-btn-secondary {
    @apply py-4 px-5 bg-error-700 text-textDark-900 leading-4 tracking-tight font-medium rounded-xl hover:bg-error-900  focus:outline-none disabled:opacity-50;
}

@layer components {
  .heading1 {
    @apply font-sans text-xxl font-light leading-12 tracking-tight text-text-900 dark:text-textDark-900;
  }

  .heading2 {
    @apply font-sans text-xl font-normal leading-8 tracking-tight text-text-900 dark:text-textDark-900;
  }

  .paragraph1 {
    @apply font-sans text-base font-normal leading-5 tracking-tight text-text-900 dark:text-textDark-900;
  }

  .paragraph2 {
    @apply font-sans text-sm font-normal leading-5 tracking-tight text-text-900 dark:text-textDark-900;
  }

  .sub-title {
    @apply font-sans text-lg font-normal leading-6 tracking-tight text-text-900 dark:text-textDark-900;
  }

  .label1 {
    @apply font-sans text-base font-normal leading-5 tracking-tight text-text-900 dark:text-textDark-900;
  }

  .label2 {
    @apply font-sans text-sm font-normal leading-4 tracking-tight text-text-900 dark:text-textDark-900;
  }

  .label3 {
    @apply font-sans text-xs font-normal leading-4 tracking-tight text-text-900 dark:text-textDark-900;
  }

  .cap-label {
    @apply font-sans text-xs font-normal uppercase leading-4 tracking-tight text-text-900 dark:text-textDark-900;
  }

  .btn-primary {
    @apply py-4 px-5 relative bg-primary-700 text-base text-white leading-4 tracking-tight font-medium rounded-xl hover:bg-primary-900 focus:outline-none disabled:opacity-50;
  }

  .btn-secondary {
    @apply py-4 px-5 bg-white text-primary-700 leading-4 tracking-tight font-medium rounded-xl hover:bg-primary-100  focus:outline-none disabled:opacity-50;
  }

  .btn-iconBtn {
    @apply relative flex pl-4 pr-11 py-5 border text-base font-medium leading-4 tracking-tight rounded-xl text-white bg-primary-700 hover:bg-primary-900 focus:outline-none disabled:opacity-50;
  }

  .outline-btn {
    @apply relative flex pl-4 pr-11 py-5 border text-base font-medium leading-4 tracking-tight rounded-xl  text-primary-700 border-primary-700 hover:bg-primary-100  outline-primary-700 disabled:opacity-50;
  }

  .errorMsg {
    @apply text-red-600 absolute;
    font-size: 12px;
    bottom: -32px;
  }

  @font-face {
    font-family: "ProtoRegular";
    src: url("./fonts/0xProto-Regular.ttf") format("truetype");
  }
}
